@font-face {
    font-family: 'PressStart2P';
    src: url('font/PressStart2P-Regular.ttf');
}

body {
	font-family: PressStart2P;
	background-color: #aaaaaa;
	margin: 0px;
	overflow: hidden;
}


a {
	color: #ff0080;
	text-decoration: none;
}

a:hover {
	color: #0080ff;
}
#cover{
	position:absolute;
	background-color: rgba(0,0,0,0.6);
	width:100vw;
	height:100vh;
	
}
#cover{
	display: none;
}
.centrato{
	margin:10% auto 0;
	width:60vw;
}

#myProgress {
    width: 100%;
    background-color: grey;
    border-radius: 20px;
	margin-top: 30px;
}
#myBar {
    width: 1%;
    height: 15px;
    background-color: green;
    border-radius: 20px;
	margin-top: 30px;

}
.bb8{
	width: 80%;
	margin:0 auto;
}
img#bb8img{
	width:20%;

}
img#infoimg{
	width:65%;
	float:right;
}
#loaded{
	margin:0 auto;
	display:none;
	position:relative;
}
.paused{
	display: block;
	margin:0 auto;
}
#myscore h1{
	font-size: 50px;
	color:#fff;
	margin:0 400px;
}
#myscore{
	width:70%;
	margin:0 auto;
	display: none;
}
#myscore img{
	margin-top:8px;
	float:left;
}
#battery_container{
	position:absolute;
	right:30px;
	top:10px;
}
#battery_container img#battery{
	width:40px;

}
#battery_container{
	display: none;
}
#lives{
	width:50px;
	margin-right:10px;
}
#load_game{
	position: fixed;
	bottom: 10vh;
	right: 10%;
	font-family: PressStart2P;
	font-size: 20px;
	padding: 2px 5px;
}
#reset_all_game{
	font-family: PressStart2P;
	font-size: 20px;
	padding: 2px 5px;
	margin: 20px auto;
	display: block;

}
#menu{
	position:fixed;
	background-color: #fff;
	width:100vw;
	height:100vh;
	background-image: url('../img/back_bb8_orange.jpg');
	background-repeat: no-repeat;
	background-position:left;
	background-size: 100vh;
}
.preview img{
	width: 70%;
	margin:0 auto;
	border-radius: 10px;
}
.row{
	display: block;
	margin-bottom: 40px;
}
.row span{
	font-size: 20px;
	display: inline;
}
.preview{
	right:0;
	position: absolute;
	transform:translateY(-70%);
	width:60%;
}
.selection_info{
	width: 40%;
	text-align: center;
}
.selection_info select{
	margin-top: 20px;
	width: 80%;
	font-size: 13px;
	font-family: PressStart2P;
}
select{
	font-size: 13px;
	font-family: PressStart2P;
}

#container_menu{
	width:50vw;
	position: absolute;
	right: 20px;
	top:30vh;
}

#title {
    position: fixed;
    top: 5vh;
    font-size: 42px;
    right: 25vw;
}

input[type=checkbox]{
	transform: scale(1.5);
}

input[type=color]{
	padding: 0px;
	height: 30px;

}
#blackScreen{
	background-color: #000;
	height: 100vh;
	width: 100vw;
	display:none;
	position:absolute;
	background-image: url("img/explosion.jpg") no-repeat bottom left;
}
#blackScreen #gameover{
	position: absolute;
	top:48%;
	left:48%;
}
#reset_all_game2{
	position:absolute;
	bottom:30%;
	right:30%;
}
#myscore2{
	position: absolute;
	top: 30%;
	left: 35%;
	width: 30%;
}
#myscore2 img{
	float: left;
}

#myscore2 h1 {
    color: #fff;
    font-size: 50px;
    float: right;
    margin:0;
}
#blackScreen button{
	font-family: PressStart2P;
	font-size: 20px;
	padding: 2px 5px;
}

img#explosion{
	position: fixed;
	bottom:10%;
	left:10%;
}
